.idea/
.vscode/
data/

cfg/*

!cfg/php/
!cfg/php/php.ini
!cfg/php/.gitkeep

!cfg/vhost/
!cfg/vhost/local.io.conf
!cfg/vhost/.gitkeep

log/*
!log/.gitkeep

vol/*
!vol/.gitkeep

www/*
!www/index.php
!www/console/
!www/console/*

.env
